<!--35. App Component-->
<!--36. Contador App -->
<!--37. Métodos en el componente -->
<!--38. Tarea con el contador -->
<!--Crear un componente manualmente -->



<!--<h1>Hola Mundo!</h1> -->

<!--ENTRE LAS LLAVES PODEMOS PONER CUALQUIER EXPRESION DE JS-->

<!-- ******************************INICIO TAREA************************** -->
<!-- <h1>{{ titulo }}</h1>

<h3>La base es: <strong>{{ base }}</strong></h3>

<button (click) = "acumular( base )"> +{{ base }} </button>

<span>{{ numero }}</span>

<button (click) = "acumular( -base )"> -{{ base }}</button> -->

<!-- *******************************FIN TAREA********************************-->

<!-- **********************************INICIO EJEMPLO***************************** -->

<!--<button (click) = "acumular(2)"> +1 </button>

<span> {{ numero }} </span>

<button (click) = "acumular(-2)"> -1 </button>
-->

<!-- **************************************FIN EJEMPLO******************************** -->

<!-- *************INICIO EJEMPLO CREANDO UN COMPONENTE MANUALMENTE**********************************   -->


<app-contador></app-contador>


<!-- ********************FIN EJEMPLO CREANDO UN COMPONENTE MANUALMENTE************************************  -->

<!--**************INICIO EJEMPLO "40. Componente de Heroe y separación de directorios"*******************************  -->
 <!-- <app-heroe></app-heroe> -->

<!--************** FIN EJEMPLO "40. Componente de Heroe y separación de directorios"*******************************  -->

<!-- ************INICIO COMPONENTE CREADO DESDE CONSOLA CON "ng g c heroes/listado"************  -->
<!-- <app-listado></app-listado> -->
<!-- ************FIN COMPONENTE CREADO DESDE CONSOLA CON "ng g c heroes/listado"************  -->

