<!-- 43. Crear componente de forma automática -->
<!-- 44. Directiva *ngFor -->
<!-- 45. Directiva *ngIf -->
<!-- 46. Ng-Template y el ngIf-else. -->

<p>Listado de Héroes</p>

<div *ngIf=" heroeBorrado; else noBorrado "><!--SI EL "heroeBorrado" ES DIFERENTE A UN String VACIO SE MOSTRARÁ LO SUIGUIENTE-->
    <h3>Héroe Borrado:  <small>{{ heroeBorrado }}</small></h3>
</div>

<ng-template #noBorrado> <!--"ng-template" ES UN COMPONENTE PROPIO DE ANGULAR CONTIENE UNA "Referencia Local" MARCADA CON UN "#" .-->
    <h3>No ha borrado nada</h3>
</ng-template>

<button (click)="borrarHeroe()">
    Borrar
</button>

<ul>
    <li *ngFor="let heroe of heroes; let i = index">
       {{ i + 1 }} {{ heroe }}
    </li>
</ul>